.skillstyle{
  margin-left: 30px;
  width: 2px !important;
  height: 2px !important;
  color: rgb(168, 168, 168);
}

.skillstyle2{
  z-index: 4;
  margin-right: 5px !important;
  width: 25px !important;
  height: 25px !important;
}
.skillstyle2:hover{
z-index: 4;
  border-radius: 5px;
  background-color: brown;
  margin-right: 5px !important;
  width: 50px !important;
  height: 50px !important;
}